<template>

<v-card>
<v-tabs
      color="deep-purple accent-4"
      right
    >
    <v-tab>Letzte Buchungen</v-tab>
    <v-tab>Kassenjournal</v-tab>
    <v-tab-item>
      <receipt-history></receipt-history>
    </v-tab-item>
    <v-tab-item>
      <cash-book></cash-book>
    </v-tab-item>

</v-tabs>

  </v-card>
</template>


<script >
import { Component, Vue } from "vue-property-decorator";

import { mapGetters, mapMutations, mapActions } from "vuex";
import ReceiptHistory from "@/components/ReceiptHistory.vue";
import CashBook from "@/components/CashBook.vue";

@Component({
	components: {
		ReceiptHistory,
		CashBook
	},
	computed: {
	}
})
export default class Home extends Vue {}
</script>
