<template>
  <div class="expense">
    <v-container fluid>
      <v-row justify="center">
        <h1>Kasse Entnahme</h1>
      </v-row>
    </v-container>
    <v-container fluid class="pa-0">
      <v-row justify="center" align="stretch">
        <v-col
          cols="12"
          sm="3"
          class="pl-0"
        >
          <v-sheet
            rounded="lg"
          >
            <article-list :payment="false"></article-list>
          </v-sheet>
        </v-col>

        <v-col
          cols="12"
          sm="4"
        >
          <v-sheet
            min-height="70vh"
            rounded="lg"
          >
          <expense-item></expense-item>
          </v-sheet>
        </v-col>

        <v-col
          cols="12"
          sm="5"
          md="4"
          class="pr-0"
        >
          <v-sheet
            rounded="lg"
            min-height="268"
          >
            <basket
              :payment="false"
            ></basket>
          </v-sheet>
        </v-col>

      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import ArticleList from "@/components/ArticleList.vue";
import ExpenseItem from "@/components/ExpenseItem.vue";
import Basket from "@/components/Basket.vue";

export default {
  	components: {
		ArticleList,
		ExpenseItem,
		Basket
	}
};

</script>


<style>

div[role=list] {
  overflow-y: auto;
  max-height: 70vh;
}
</style>
