<template>
  <div class="home">
    <Login v-if="!loggedIn" />
    <HelloLabManager v-if="loggedIn" :msg="`Hallo ${getLabManagerFirstName}! Schön bist du da 😀`" />
    <CashBalance v-if="loggedIn" />
  </div>
</template>

<script >
import { Component, Vue } from "vue-property-decorator";

import CashBalance from "@/components/CashBalance.vue";
import HelloLabManager from "@/components/HelloLabManager.vue";
import Login from "@/components/Login.vue";
import { mapGetters, mapMutations, mapActions } from "vuex";

@Component({
	components: {
		CashBalance,
		HelloLabManager,
		Login
	},
	computed: {
		...mapGetters("auth", {
			getLabManager: "getLabManager",
			getLabManagerFirstName: "getLabManagerFirstName",
			loggedIn: "isLoggedIn"
		})
	}
})
export default class Home extends Vue {}
</script>
