<template>
<div class="articleList">
    <h1 class="pl-2 pr-2">Auswahl</h1>
	<v-progress-linear indeterminate v-if="loading"></v-progress-linear>
    <v-expansion-panels focusable v-model="panel">
		<v-expansion-panel v-for="articleGroup in articlesGrouped" :key="articleGroup.sort">
			<v-expansion-panel-header>{{ articleGroup.name }}</v-expansion-panel-header>
			<v-expansion-panel-content>
				<v-list class="pa-0">
					<v-list-item
					v-for="article in articleGroup.articles"
					:key="article.key"
					@click="() => {setSelectedArticle(article)}"
					class="pa-0"
					>
						<v-list-item-title>{{article.name}}</v-list-item-title>
					</v-list-item>
				</v-list>
			</v-expansion-panel-content>
		</v-expansion-panel>
    </v-expansion-panels>
</div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

import articlesGrouped from "@/graphql/articlesGrouped.gql";


export default {
	name: "Artikels",
	data: () => ({
		articlesGrouped: [],
		panel: 0,
		disabled: false,
		readonly: false
	}),
	props: {
		payment: Boolean
	},
	computed: {
		...mapGetters("article", {
			getArticleGroups: "getArticleGroups"
		}),
		loading() {
			return this.$apollo.queries.articlesGrouped.loading;
		}
	},
	methods: {
		...mapMutations("basket", {
			setSelectedArticle: "setSelectedArticle"
		})
	},
	apollo: {
		articlesGrouped: {
			query: articlesGrouped,
			// Reactive parameters
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			variables() {
				// Use vue reactive properties here
				return {
					"paymentInput" : {
						"payment": this.payment
					}
				};
			},
			fetchPolicy: "network-only"
		}
	}	
};
</script>

<style>
.v-expansion-panel-content__wrap {
    padding: 0 16px 4px;
}
</style>
