<template>
<div class="basket">
    <div class="pl-2 pr-2">
        <h1>{{ basketTitle }}</h1>
        <v-sheet rounded="lg">
            <member-select></member-select>
          </v-sheet>
        <v-row align="center" justify="start">
            <v-col>
                <v-subheader>{{dateFormatted(getBookingDate)}}</v-subheader>
            </v-col>
        </v-row>
        <h2>Total {{priceFormatter(getBasketTotal)}}</h2>
    </div>
    <v-list>
        <v-list-item
            three-line
            v-for="(item, index) in basket"
            :key="item.basketPos"
            @click="editSelectedArticle(item)"
        >
            <v-list-item-content :class="item.selected ? 'selected' : ''" class="list">
                <v-row
                    dense
                    align="center"
                    justify="space-around"
                >
                    <v-col cols=1 sm=1>
                        {{index+1}}
                    </v-col>
                    <v-col cols=5 sm=5>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                        <v-list-item-subtitle>{{item.description}}</v-list-item-subtitle>
                        <v-list-item-subtitle>{{item.unit}} {{priceFormatter(item.price)}}</v-list-item-subtitle>
                    </v-col>
                    <v-col cols=6 sm=5>
                        <v-list-item-subtitle>{{item.units}} x</v-list-item-subtitle>
                        <v-list-item-title>{{priceFormatter(itemTotal(item))}}</v-list-item-title>
                    </v-col>
                    <v-col cols=12 sm=1>
                        <v-row align="center" justify="space-around">
                            <v-btn icon @click="removeFromBasket(item.basketPos)">
                                <v-icon color="blue-grey darken-2">
                                    mdi-trash-can-outline
                                </v-icon>
                            </v-btn>
                        </v-row>
                    </v-col>
                </v-row>
            </v-list-item-content>
        </v-list-item>
    </v-list>
    <v-card class="pl-4 pr-4 pb-4 pt-4">
        <v-btn
            block
            class="mb-4"
            v-if="!payment && isDeveloment"
            @click="cameraOpen = true"
        >
            Beleg aufnehmen
            <v-icon dark right>
                mdi-camera
            </v-icon>
        </v-btn>
        <v-btn
            block
            color="success"
            :disabled="getBasketTotal===0"
            @click="checkoutDialog = true"
        >
            {{ paymentButtonText }}
            <v-icon dark right>
                mdi-check-circle-outline
            </v-icon>
        </v-btn>
        <v-btn
            color="error"
            class="mt-4"
            x-small
            block
            @click="clearCashBookEntry();"
        >
            alle Eingaben löschen
            <v-icon dark right>
                mdi-cancel
            </v-icon>
        </v-btn>
    </v-card>
    <checkout v-if="payment"></checkout>
    <checkout-expense v-else></checkout-expense>
    <camera v-if="showCamera">
        <button @click="cameraOpen=false">fertig</button>
    </camera>
</div>
</template>
<script>
import utilities from "@/mixin/utilities";
import MemberSelect from "@/components/MemberSelect.vue";
import Checkout from "@/components/Checkout.vue";
import CheckoutExpense from "./CheckoutExpense.vue";
import Camera from "./Camera.vue";
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
	name: "Basket",
	data: function () {
		return {
			datepickerOpen: false,
			cameraOpen: false
		};
	},
	props: {
		payment: Boolean
	},
	mixins: [utilities],
	computed: {
		...mapGetters({
			getBookingDate: "getBookingDate",
			getPostBooking: "getPostBooking"
		}),
		...mapGetters("basket", {
			basket: "getBasket",
			getBasketTotal: "getBasketTotal",
			isCheckoutDialogOpen: "isCheckoutDialogOpen"
		}),
		isDeveloment() {
			return process.env.NODE_ENV !== "production";
		},
		checkoutDialog: {
			get() {
				return this.isCheckoutDialogOpen;
			},
			set(value) {
				this.setCheckoutDialog(value);
			}
		},
		basketTitle() {
			return this.payment ? "Kassenzettel" : "Auslagen Beleg";
		},
		paymentButtonText() {
			return this.payment ? "Bezahlen" : "Auszahlen";
		},
		showCamera() {
			return !this.payment && this.cameraOpen;
		}
	},
	methods: {
		...mapMutations({
			setBookingDate: "setBookingDate",
			setPostBooking: "setPostBooking"
		}),
		...mapMutations("basket", {
			removeFromBasket: "removeFromBasket",
			editSelectedArticle: "editSelectedArticle",
			setCheckoutDialog: "setCheckoutDialog",
			clearCashBookEntry: "clearCashBookEntry",
			resetSelectedArticle: "resetSelectedArticle"
		}),
		itemTotal(item) {
			return (item.price * item.units);
		}
	},
	components: {
		MemberSelect,
		Checkout,
		CheckoutExpense,
		Camera
	}
};
</script>
<style scoped>
.list {
    border-top: 1px solid lightgrey;
}
.selected {
    background-color: paleturquoise;
}
</style>
