<template>
<div class="basket">
    <div class="pl-2 pr-2">
        <v-row align="center" justify="space-between">
            <!-- Live Date  -->
            <v-col sm="6" v-if="!getPostBooking">
                {{ dateFormatted( bookingDate) }}
            </v-col>

            <!-- Manual Date Selection -->
            <v-col sm="6" v-else>
                <v-dialog ref="dialog" v-model="datepickerOpen" width="500px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field
							v-model="date"
							label="Buchungsdatum"
							prepend-icon="mdi-calendar"
							readonly
							v-bind="attrs"
							v-on="on"
							:suffix="time"
						>
						</v-text-field>
                    </template>
                    <v-date-picker
						v-model="date"
						scrollable
						locale="ch-DE"
						landscape
						show-adjacent-months
						color="orange lighten-1"
						min="2021-01-01"
						:max="maxDate"
					>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="datepickerOpen = false">
                            OK
                        </v-btn>
                    </v-date-picker>
                </v-dialog>
				<v-row dense align="end" justify="end">
					<template v-for="t in times" >
						<v-col
							cols="1"
							sm="auto"
							:key="t"
						>
							<v-btn
								:label="t"
								small
								value="t"
								@click='time=t'

							>{{ t }}</v-btn>
						</v-col>
					</template>
				</v-row>
            </v-col>

            <!-- Live / Manuel Mode switch -->
            <v-col sm="1">
                <v-switch v-model="postBookingSwitch" color="" :sync="true" />
            </v-col>
            <v-col sm="4">
                {{`${postBookingSwitch ? 'manuell': 'jetzt'}`}}
            </v-col>
        </v-row>
    </div>
</div>
</template>

<script>
import utilities from "@/mixin/utilities";
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
	name: "BookingDate",
	data: function () {
		return {
			datepickerOpen: false,
			// date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
			date: this.$moment(this.getBookingDate).format("YYYY-MM-DD"),
			time: "14:00",
			times: ["08:00", "10:00", "12:00", "14:00", "17:00", "20:00"]
		};
	},
	watch: {
		postBookingSwitch(value) {
			if (!value) {
				this.setBookingDate(new Date());
			} else {
				this.date = this.$moment(this.getBookingDate).format("YYYY-MM-DD");
			}
		},
		date(value) {
			const date = `${value}T${this.time}:00`;
			if (this.$moment(date).isValid()) {
				this.setBookingDate(this.$moment(date));
			}
		},
		time(value) {
			const date = `${this.date}T${value}:00`;
			if (this.$moment(date).isValid()) {
				this.setBookingDate(this.$moment(date));
			}
		}
	},
	mixins: [utilities],
	computed: {
		...mapGetters({
			getBookingDate: "getBookingDate",
			getPostBooking: "getPostBooking"
		}),
		bookingDateFormatted() {
			return this.dateFormatted(this.getBookingDate, true);
		},
		postBookingSwitch: {
			get() {
				return this.getPostBooking;
			},
			set(value) {
				this.setPostBooking(value);
			}
		},
		bookingDate: {
			get() {
				return this.getBookingDate;
			},
			set(value) {
				this.setBookingDate(value);
			}
		},
		maxDate() {
			return this.$moment().subtract(0, "day").format("YYYY-MM-DD");
		}
	},
	methods: {
		...mapMutations({
			setBookingDate: "setBookingDate",
			setPostBooking: "setPostBooking"
		}),
		getDateInputAsDate(value) {
			const d = value.split(/[ .:]/);
			const date = `${d[2]}-${d[1]}-${d[0]}T${d[3]}:${d[4]}:00`;
			if (this.$moment(date).isValid()) {
				return this.$moment(date);
			}
			return null;
		}

	}
};
</script>
