<template>
<v-overlay
          :absolute="absolute"
          :opacity="opacity"
          :value="overlay"
        >
    <v-container fluid color="black">
        <div ref="dimensions" class="dimensions">
            <img 
                class="camera-image" 
                v-if="img" 
                :src="img" 
                alt="camera-img" 
                :width="width"
                :height="height"
            />
            <vue-web-cam
                v-show="!img"
                ref="webcam"
                :width="width"
                :height="height"
                :resolution="getDimensions"
                :device-id="deviceId"
                @cameras="onCameras"
            />
        </div>
        <v-row class="camera-panel" align="center" justify="center">
            <v-col><slot><button>good</button></slot></v-col>
            <v-col><button @click="onCapture">shoot</button></v-col>
            <v-col><button @click="onClear">back</button></v-col>
        </v-row>
    </v-container>
</v-overlay>
</template>
<script>
export default {
	name: "Camera",
	data() {
		return {
			absolute: true,
			opacity: 1,
			overlay: true,
			showCamera: true,
			img: null,
			camera: null,
			deviceId: null,
			devices: [],
			width: 500,
			height: 500
		};
	},
	mounted() {
		const { width, height } = this.$refs.dimensions.getBoundingClientRect();
		this.width = Math.round(width);
		this.height = Math.round(height);
	},
	computed: {
		getDimensions() {
			function detectMob() {
				const toMatch = [
					/Android/i,
					/webOS/i,
					/iPhone/i,
					/iPad/i,
					/iPod/i,
					/BlackBerry/i,
					/Windows Phone/i
				];
				return toMatch.some((toMatchItem) =>
					toMatchItem.test(navigator.userAgent)
				);
			}
			const mobDevice = detectMob();
			console.log(this.width, this.height, mobDevice);
			return mobDevice ?
				{ width: this.height, height: this.width } :
				{ width: this.width, height: this.height };
		}
	},
	watch: {
		camera: function (id) {
			this.deviceId = id;
		},
		devices: function () {
			// Once we have a list select the first one
			console.log(this.devices);
			const [first, ...tail] = this.devices;
			if (first) {
				this.deviceId = first.deviceId;
			}
		}
	},
	methods: {
		onCameras(cameras) {
			this.devices = cameras;
		},
		onCapture() {
			this.img = this.$refs.webcam.capture();
		},
		onClear() {
			this.img = null;
			this.$refs.webcam.start();
		}
	}
};
</script>
