<template>
  <v-container fluid>

	<v-form>
		<v-container>
			<v-row dense align="end" justify="end">
				<template v-for="i in 6" >
				<v-col
					cols="1"
					sm="1"
					:key="i"
				>
					<v-btn
						:label="i"
						small
						value="i"
						@click='updateMonthYear(6-i)'

					>{{ new Date() | moment("subtract", `${6-i} month`, "MM YYYY") }}</v-btn>
				</v-col>

				</template>

				<v-col
					cols="1"
					sm="1"
				>
					<v-text-field
						label="Monat"
						type="number"
						:rules="rulesMonth"
						hide-details="auto"
						v-model="month"
					></v-text-field>
				</v-col>

				<v-col
					cols="1"
					sm="1"
				>
					<v-text-field
						label="Jahr"
						type="number"
						:rules="rulesYear"
						hide-details="auto"
						v-model="year"
					></v-text-field>
				</v-col>

				<v-col
					cols="2"
					sm="2"
				>
				<vue-json-to-csv
					:json-data="journalItems"
					:csv-title="`Kassen-Journal-${this.year}-${this.monthFormatted}`"
				>
					<v-btn
						color="lightgreen"
						label="Download CSV"
					>
						Download CSV
						<v-icon
							right
						>
							mdi-download
						</v-icon>
					</v-btn>
				</vue-json-to-csv>
				</v-col>
			</v-row>
		</v-container>
	</v-form>

	<v-data-table
		dense
		:headers="headers"
		:items="journalItems"
		item-key="id"
		:disablePagination="true"
		:hideDefaultFooter="true"
		:items-per-page="-1"
		:options="tableOptions"
		:loading="$apollo.queries.journal.loading"
		class="elevation-1"
	>
		<template v-slot:[`item.date`]="{ item }">
			<span>{{ new Date(item.date).toLocaleString() }}</span>
		</template>
		<template v-slot:[`item.intake`]="{ item }">
			<span v-if="item.intake > 0">{{ priceFormatter(item.intake) }}</span>
		</template>
		<template v-slot:[`item.spending`]="{ item }">
			<span v-if="item.spending > 0">{{ priceFormatter(item.spending) }}</span>
		</template>
		<template v-slot:[`item.ist`]="{ item }">
			<span v-if="item.ist > 0">{{ priceFormatter(item.ist) }}</span>
		</template>
		<template v-slot:[`item.soll`]="{ item }">
			<span v-if="item.soll > 0">{{ priceFormatter(item.soll) }}</span>
		</template>
	</v-data-table>
  </v-container>
</template>

<script>

import VueJsonToCsv from "vue-json-to-csv";
import utilities from "@/mixin/utilities";
import journal from "@/graphql/journal.gql";

export default {
	name: "CashBook",
	components: {
		VueJsonToCsv
	},

	data: () => ({
		rulesMonth: [
			value => !!value || "Required.",
			value => (value && value >= 1 && value <= 12) || "Monat 1 bis 12"
		],
		rulesYear: [
			value => !!value || "Required.",
			value => (value && value >= 2021) || "Jahr ab 2021"
		],
		month: new Date().getMonth() + 1,
		year: new Date().getFullYear(),
		tableOptions: {
			"page": 1,
			"itemsPerPage": -1,
			"sortBy": [],
			"sortDesc": [],
			"groupBy": [],
			"groupDesc": [],
			"multiSort": false,
			"mustSort": false
		},
		headers: [
			{
				text: "Datum",
				align: "start",
				value: "date"
			},
			{ text: "Kassen", value: "kasse" },
			{ text: "Konto", value: "konto" },
			{ text: "Kommentar", value: "comment" },
			{ text: "Einnahmen", value: "intake" },
			{ text: "Ausgaben", value: "spending" },
			{ text: "Art", value: "paymentMethod" },
			{ text: "Soll", value: "soll" },
			{ text: "Ist", value: "ist" }
		],
		journal: null,
		loading: false
	}),
	mixins: [utilities],
	watch: {
		month(newValue, oldValue) {
			if (+newValue === 0 && +oldValue === 1) {
				this.year--;
				this.month = 12;
			} else if (+newValue === 13 && +oldValue === 12) {
				this.year++;
				this.month = 1;
			}
		},
		year(newValue, oldValue) {}
	},
	computed: {
		journalItems() {
			return this.journal?.items.map( item => {
				//item.date = this.$moment(item.date).format("DD.MM.YYYY HH:mm:ss");
				delete item.__typename;
				return item;
			}) ?? [];
		},
		monthFormatted() {
			return `0${this.month}`.slice(-2);
		}
	},

	methods: {
		updateMonthYear(monthOffset) {
			const dateArray = this.$moment().add(-monthOffset, "month").toArray();
			this.year = dateArray[0];
			this.month = dateArray[1] + 1;
		}
	},

	apollo: {
		journal: {
			query: journal,
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			// Reactive parameters
			variables() {
				// Use vue reactive properties here
				return {
					month: this.month * 1,
					year: this.year * 1
				};
			},
			fetchPolicy: "network-only"
		}
	}
};

</script>
