<template>
<v-container fluid>
    <v-card :loading="$apollo.queries.balances.loading" class="pt-4 pb-4">
    <v-row justify="center">
        <v-col cols="auto" v-if="balanceNotLoaded">
            <h2>Der Anfangs-Kassenstand wird geladen...</h2>
        </v-col>
        <v-col cols="auto" v-else-if="balanceToday && !countAgain">
            <h2>Der Anfangs-Kassenbestand heute war {{ priceFormatter(balanceToday.total) }}</h2>
            <p>(gezählt von {{balanceToday.labmanager}} {{ balanceToday.date | moment("from") }})</p>

            <v-btn large @click="countAgain=true">
                <v-icon color="green darken-2">mdi-check-circle-outline</v-icon>
                Noch einmal Zählen
            </v-btn>

            <v-btn large :to="{path: '/cashdesk'}">
                😁
                Nein Danke. Weiter zur Kasse.
            </v-btn>

        </v-col>
        <v-col cols="auto" v-else>
            <h2>Du kannst jetzt gerne den heutigen Anfangs-Kassenbestand zählen und erfassen.</h2>
            <p class="subtitle-1" v-if="lastBalance">Letzte Kassenzählung {{ lastBalance.date | moment("from") }}. Bestand: {{ priceFormatter(lastBalance.total) }}</p>
        </v-col>
    </v-row>

    <template v-if="(!balanceToday && !balanceNotLoaded) || countAgain">
        <form>
        <v-row dense>
            <v-col
                v-for="(m, index) in money"
                :key="m.value"
                cols="3"
                sm="2"
                md="1"
                lg="1"
                :class="`currenty-${currency(m.value)}`"
            >
                <v-card
                    class="fill-height text-center money"
                    :disabled="editTotal"
                >
                    <v-card-subtitle
                    >
                        {{ moneyText(m.value) }}<br>
                        {{ currency(m.value) }}
                    </v-card-subtitle>
                    <v-col align-self="center" class="py-0">
                        <v-img
                            position="center center"
                            :contain="true"
                            :aspect-ratio="1"
                            hight="30"
                            :src="moneyImage(m.value)"
                        ></v-img>
                        <v-text-field
                            v-model="m.amount"
                            single-line
                            label="Anzahl"
                            hint="Anzahl #"
                            :full-width="true"
                            type="text"
                            inputmode="numeric"
                            :autofocus="index === 0"
                            @keydown.enter="focusNext"
                            @change="updateBalanceWithAmount(); m.amount = removeLeadingZero(m.amount)"
                            @click="updateBalanceWithAmount()"
                            @focus="$event.target.select()"
                            required
                            :rules="countRule"
                            :disabled="editTotal || !editAmount"
                            v-show="editAmount"
                        ></v-text-field>
                        <v-text-field
                            v-model="m.sum"
                            single-line
                            label="Betrag"
                            hint="Betrag CHF"
                            :full-width="true"
                            type="text"
                            inputmode="numeric"
                            :autofocus="index === 0"
                            @keydown.enter="focusNext"
                            @keyup="updateBalanceWithSum()"
                            @change="updateBalanceWithSum(); m.sum = removeLeadingZero(m.sum)"
                            @click="updateBalanceWithSum()"
                            @focus="$event.target.select()"
                            required
                            :rules="sumRule"
                            :error-messages="(m.isValidSum() ? [] : ['Der wert geht nicht'])"
                            :error="!m.isValidSum()"
                            :disabled="editTotal || editAmount"
                            v-show="!editAmount"
                        ></v-text-field>
                    </v-col>
                </v-card>
            </v-col>
        </v-row>
        </form>

        <v-row align="center" dense>
            <v-col>
                {{ dateFormatted(getBookingDate) }}
            </v-col>
            <v-col>
                <v-row align="center" dense>
                    <v-col>
                        <h3 v-if="!editTotal">
                        Total: {{ priceFormatter(balance) }}
                        </h3>
                        <span v-else>
                            <v-text-field
                                v-model="totalTextField"
                                type="number"
                                inputmode="decimal"
                                prefix="CHF"
                                label="Total"
                                :rules="totalRule"
                                @change="totalTextField = removeLeadingZero(totalTextField)"
                                autofocus
                            />
                        </span>
                    </v-col>
                    <v-col>
                        <span v-if="editAmount">Anzahl der Münzen und Scheine</span>
                        <span v-else>Wert in CHF der Münzen und Scheine</span>
                    </v-col>
                </v-row>
            </v-col>
            <v-col>
                <v-btn
                    large
                    block
                    @click="showConfirm=true"
                    :disabled="!isValidBalance">
                    <v-icon color="green darken-2">mdi-check-circle-outline</v-icon>
                    übernehmen
                </v-btn>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-dialog v-model="showSettings" width="600">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" x-small>
                        <v-icon x-small color="orange darken-2">mdi-cog</v-icon>
                        Mehr Optionen
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title class="headline grey lighten-2">
                        Beträge erfassen
                    </v-card-title>

                    <v-container>
                         <v-row align="center" dense>
                            <v-col>
                                <span v-if="editAmount">Anzahl der Münzen und Scheine</span>
                                <span v-else>Wert in CHF der Münzen und Scheine</span>
                            </v-col>
                            <v-col>
                                <v-switch
                                    v-model="editAmount"
                                    :disabled="editTotal"
                                    color=""
                                    dense
                                    :sync="true"
                                    :label= "`${editAmount ? 'Anzahl': 'Betrag'}`"
                                />
                            </v-col>
                        </v-row>
                         <v-row align="center" dense>
                            <v-col v-if="editTotal">Totaler Kassenbestand in CHF</v-col>
                            <v-col v-else>Summe der Münzen und Scheine</v-col>
                            <v-col>
                                <v-switch
                                    v-model="editTotal"
                                    color=""
                                    dense
                                    :sync="true"
                                    :label= "`${editTotal ? 'Total eingeben': 'Einzeln eingeben'}`"
                                />
                            </v-col>
                        </v-row>
                        <v-row v-if="editTotal"
                            class="ml-12 mr-12 mt-8"
                            >
                            <v-col>
                                <v-text-field
                                    v-model="totalTextField"
                                    type="number"
                                    inputmode="decimal"
                                    prefix="CHF"
                                    label="Kassenbestand Total"
                                    :rules="totalRule"
                                    @change="totalTextField = removeLeadingZero(totalTextField)"
                                    autofocus
                                />
                            </v-col>
                        </v-row>
                    </v-container>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="showSettings = false">
                            schliessen
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>

        <div class="text-center pt-8">
            <v-dialog v-model="showHelp" width="500">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" x-small>
                        <v-icon x-small color="orange darken-2">mdi-help-circle</v-icon>
                        Hilfe anzeigen
                    </v-btn>
                </template>

                <v-card>
                    <v-card-title class="headline grey lighten-2">
                        So geht's
                    </v-card-title>

                    <v-card-text class="pt-2">
                        <p>
                            Du kannst die Münzen und Geldscheine zählen
                            und die Anzahl in das entsprechende Feld eingeben.
                            Mit [Enter] geht's zum nächsten Feld.
                        </p>
                        <p>
                            Oder du gibst das Total vom Bestand direkt ein.<br>
                            Dafür must du den Schalter
                            <v-switch disabled></v-switch>
                            umstellen.
                        </p>
                        <p>
                            Wenn du alles gezählt hast, kannst du <v-btn x-small>
                                <v-icon x-small color="green darken-2">mdi-check-circle-outline</v-icon>
                                übernehmen
                            </v-btn> drücken und die Summe übernehmen.
                        </p>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="showHelp = false">
                            Alles klar 😀
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog
                v-model="showConfirm"
                max-width="600"
                persistent
                >
                <template>
                    <v-card>
                    <v-toolbar
                        color="primary"
                        dark
                    >Kassenbestand Buchen {{ dateFormatted(getBookingDate) }}</v-toolbar>
                    <v-card-text>
                        <div class="text-h4 pa-2">Total: {{ priceFormatter(balance) }}</div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                        <v-btn
                            @click="saveBalance()"
                        >
                            <v-icon color="green darken-2">mdi-check-circle-outline</v-icon>
                            Buchen
                        </v-btn>
                        <v-btn
                            @click="showConfirm=false"
                        >
                            <v-icon color="red darken-2">mdi-cancel</v-icon>
                            Abbrechen
                        </v-btn>
                    </v-card-actions>
                    </v-card>
                </template>
            </v-dialog>
        </div>
    </template>

    </v-card>

</v-container>
</template>

<script>
import utilities from "@/mixin/utilities";
import { mapGetters, mapMutations } from "vuex";

import balances from "@/graphql/balances.gql";

export default {
	name: "CashBalance",

	data: () => ({
		menu: false,
		showHelp: false,
		showSettings: false,
		showConfirm: false,
		balances: null,
		loading: false,
		countAgain: false,
		editTotal: false,
		editAmount: false,
		totalTextField: "",
		countRule: [
			v => v !== "" || "darf nicht leer sein",
			v => /^[0-9]+([.,][0-9]*)*$/.test(v) || "nur Zahlen, bitte!",
			v => /^[0-9]+$/.test(v) || "nur ganze Zahlen, bitte!",
			v => (v >= 0) || "keine negativ Zahlen"
		],
		sumRule: [
			v => v !== "" || "darf nicht leer sein",
			v => /^[0-9]+([.,][0-9]*)*$/.test(v) || "nur Zahlen, bitte!",
			v => (v >= 0) || "keine negativ Zahlen"
		],
		totalRule: [
			v => /^[0-9]+([.,][0-9]*)*$/.test(v) || "ein Betrag in CHF wäre hilfreich 🤑"
		]
	}),
	mixins: [utilities],
	watch: {
		showConfirm() {
			// this.date = new Date();
		}
	},
	mounted() {
		this.clearMoney();
	},
	computed: {
		...mapGetters({
			getBookingDate: "getBookingDate",
			getPostBooking: "getPostBooking",
			getWindowSize: "getWindowSize"

		}),
		...mapGetters("auth", {
			getLabManager: "getLabManager"

		}),
		...mapGetters("cashBalance", {
			totalMoneyByAmount: "getCashBalanceByAmount",
			totalMoneyBySum: "getCashBalanceBySum",
			getCashBalanceCount: "getCashBalanceCount",
			getEmptyCashBalanceCount: "getEmptyCashBalanceCount"

		}),
		balance() {
			if (this.editTotal) {
				return this.totalTextField;
			}
			if ( this.editAmount) {
				return this.totalMoneyByAmount;
			}
			return this.totalMoneyBySum;
		},
		balanceToday() {
			if (this.balances === null) return false;
			return this.balances.find(
				balance => this.isTodayString(balance.date)
			);
		},
		lastBalance() {
			if (this.balances === null) return false;
			return this.balances[0];
		},
		balanceNotLoaded() {
			return this.balances === null;
		},
		isValidBalance() {
			if( this.balance===undefined) return false;
			if( isNaN(this.balance) ) return false;
			if( this.balance === 0) return false;

			let foundInValid = this.money.filter( m => {
				return !m.isValidSum();
			});
			return foundInValid.length === 0;
		},
		money: {
			get() {
				return this.getCashBalanceCount;
			},
			set(v) {
				this.setCashBalanceCount([...v]);
			}
		}
	},
	methods: {
		...mapMutations("cashBalance", {
			setCashBalanceCount: "setCashBalanceCount"
		}),
		updateBalanceWithAmount() {
			this.money = this.money.map( m => {
				m.copyAmountToSum();
				return m;
			});
		},
		updateBalanceWithSum() {
			this.money = this.money.map( m => {
				m.copySumToAmount();
				return m;
			});
		},
		saveBalance() {
			// save cash balance

			this.$apollo
				.mutate({
					mutation: require("@/graphql/addBalance.gql"),
					variables: {
						labmanager: this.getLabManager,
						date: this.getBookingDate,
						total: 1 * this.balance,
						remark: ""
					}
				})
				.then(() => {
					this.showConfirm = false;
					this.countAgain = false;
					this.clearMoney();
					this.$router.push({ path: "/cashdesk" });
					this.$notifySuccess("Kassenbestand gespeichert 😀");
				}).catch((error) => {
					this.showConfirm = false;
					this.$notifyError("Speichern des Bestands hat nicht geklappt 🥺");
					console.error("onRejected function called: " + error.message);
				});
		},
		clearMoney() {
			this.money = this.getEmptyCashBalanceCount;
			this.totalTextField = 0;
		},
		currency(value) {
			if (value >= 1) {
				return "CHF";
			}
			return "Rp";
		},
		moneyText(value) {
			if (value >= 1) {
				return `${value}`;
			}
			return `${value * 100}`;
		},
		moneyImage(value) {
			return `/img/money/money_chf_${value}.png`;
		},
		removeLeadingZero(v) {
			return parseFloat(v);
		}
	},

	apollo: {
		balances: {
			query: balances,
			// Reactive parameters
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			variables() {
				// Use vue reactive properties here
				return {
				};
			},
			fetchPolicy: "network-only",
			pollInterval: 2000 // ms
		}
	}

};
</script>

<style scoped>
.v-card__text div.v-input--switch
{
    display: inline-block;
}

</style>
