<template>
  <v-row justify="center">

    <v-dialog
      v-model="checkoutDialog"
      max-width="50%"
	  persistent
    >
      <v-card :loading="loading">
        <v-card-title class="headline">
          Bezahlen von Total {{priceFormatter(getBasketTotal)}}
        </v-card-title>
        <v-card-title>
			Wie bezahlen?
		</v-card-title>
        <v-card-subtitle>
			Bitte wähle die Zahlungsart: 
			<b>{{paymentMethodRemark(paymentMethod)}}</b>
        </v-card-subtitle>
        <v-card-text>
          <v-row
              align="center"
              justify="space-around"
			  class="mb-16"

            >
            <v-btn-toggle
              v-model="paymentMethod"
              tile
              color="light-green lighten-1"
              group
            >
            <v-btn
				v-for="(pm, index) in paymentMethods"
				:key="index"
				:value="pm.value"
				:disabled="loading"
			>
              {{pm.name}}
              <v-icon
                :color="pm.color"
                right
              >
                {{pm.icon}}
              </v-icon>
            </v-btn>
            </v-btn-toggle>
          </v-row>
          <v-row
		  	v-if="getPostBooking"
            align="center"
            justify="space-around"
          >
			<p class="title">{{ dateFormatted(getBookingDate) }}</p>
		  </v-row>
        </v-card-text>
		<v-card-actions>
            <v-btn
              :color="getPostBooking ? 'warning' : 'success'"
              :disabled="!paymentMethod || this.loading"
              @click="saveCashBookEntry()"
            >
				{{saveButtonLabel}}
            <v-icon
                dark
                right
              >
                mdi-check-circle-outline
              </v-icon>
            </v-btn>
			<v-spacer></v-spacer>
          	<v-btn text  @click=" checkoutDialog = false, paymentMethod=false">
				doch nicht buchen
				<v-icon
					dark
					right
					color="red"
					>
					mdi-cancel
				</v-icon>
			</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

import utilities from "@/mixin/utilities";
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
	name: "Checkout",
	data: () => ({
		paymentMethods: [
			{
				name: "Bar",
				value: "BAR",
				icon: "mdi-cash",
				color: "green lighten-1",
				remark: "Barzahlung in die Kasse"

			},
			{
				name: "Postcard",
				value: "PC",
				icon: "mdi-credit-card",
				color: "yellow accent-4",
				remark: "Mit Postcard bezahlen"
			},
			{
				name: "Kreditkarte/Twint",
				value: "EFT",
				icon: "mdi-credit-card",
				color: "green lighten-1",
				remark: "Mit einer Kreditkarte bezahlen (visa, master, ...) oder TWINT"
			},
			{
				name: "Überweisung",
				value: "BANK",
				icon: "mdi-bank",
				color: "green lighten-1",
				remark: "Der Betrag wurde bereits auf das Konto überwiesen"

			}
		],
		receipt: {},
		paymentMethod: "",
		loading: false
	}),
	mixins: [utilities],
	watch: {
		checkoutDialog(visible) {
			if( visible ) {
				this.paymentMethod = this.isEditReceipt ? this.getReceipt.paymentMethod : "";
			}
		}
	},
	computed: {
		...mapGetters({
			getBookingDate: "getBookingDate",
			getPostBooking: "getPostBooking"
		}),
		...mapGetters("basket", {
			basket: "getBasket",
			getBasketTotal: "getBasketTotal",
			isCheckoutDialogOpen: "isCheckoutDialogOpen",
			getReceipt: "getReceipt",
			getBookingRemark: "getBookingRemark",
			isEditReceipt: "isEditReceipt"
		}),
		checkoutDialog: {
			get() {
				return this.isCheckoutDialogOpen;
			},
			set(value) {
				this.setCheckoutDialog(value);
			}
		},
		saveButtonLabel() {
			let label = `Diesen Vorgang ${!this.getPostBooking ? "buchen" : "nachbuchen"}`; 
			if( this.isEditReceipt) {
				label = "Änderungen speichern";
			}
			return ` ${label}`;
		}
	},
	methods: {
		...mapMutations({
			setPostBooking: "setPostBooking"
		}),
		...mapMutations("basket", {
			removeFromBasket: "removeFromBasket",
			editSelectedArticle: "editSelectedArticle",
			setCheckoutDialog: "setCheckoutDialog",
			clearCashBookEntry: "clearCashBookEntry"

		}),
		saveCashBookEntry() {
			this.loading = true;
			this.$apollo
				.mutate({
					mutation: require("@/graphql/addReceipt.gql"),
					variables: {
						...this.getReceipt,
						paymentMethod: this.paymentMethod,
						date: this.getBookingDate
					}
				})
				.then(() => {
					if( this.isEditReceipt ) {
						this.setPostBooking(false);
					}
					this.clearCashBookEntry();
					this.$notifySuccess("Buchung gespeichert 😀");
					this.loading = false;
					this.paymentMethod = false;
				}).catch((error) => {
					this.$notifyError({
						message: "Speichern der Buchung hat nicht geklappt 🥺",
						timeout: 0
					});
					this.loading = false;
					this.paymentMethod = false;

					console.error("onRejected function called: " + error.message);
				});
		},
		itemTotal(item) {
			return (item.price * item.units);
		},
		paymentMethodRemark(value) {
			return this.paymentMethods.find( pm => pm.value == value)?.remark ?? "";
		}
	}
};
</script>
