<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    class="pl-4 pr-4 pb-4"
	:disabled="isInputDisabled"
  >
    <h1>Deine Auslagen sind für <v-icon color="black" v-show="isInputDisabled" class="bounce left">mdi-help</v-icon></h1>
    <v-text-field
      v-model="item.name"
      :rules="nameRules"
	  readonly
    ></v-text-field>

    <v-text-field
      v-model="item.description"
      :counter="100"
      :rules="descriptionRules(item)"
      :label="descriptionLabel(item)"
      :placeholder="descriptionPlaceholder(item)"
    ></v-text-field>
    <v-row>
		<v-col cols="8">
			<vuetify-money
			v-model="price"
			:label="item.unit"
			:clearable="priceOptions.clearable"
			:valueWhenIsEmpty="priceOptions.valueWhenIsEmpty"
			:options="priceOptions.options"
			:placeholder="priceOptions.placeholder"
			/>
		</v-col>
		<v-col cols="4" class="pt-6" v-if="item.price > 0 && item.price<1">
			<v-chip small color="yellow"><v-icon left small>mdi-alert-outline</v-icon>Rappen</v-chip>
		</v-col>
	</v-row>

    <v-divider class="mt-4 mb-4"></v-divider>
    <h3 class="mt-4 mb-4">
      Gesamt: <span v-if="item.price * item.units"> CHF {{itemTotalFormatted}} </span>
    </h3>
    <v-divider class="mt-4 mb-4"></v-divider>
    <v-btn
      :disabled="isOkDisabled"
      color="success"
      class="mt-4"
      block
      @click="submit"
    >
      OK
      <v-icon
          dark
          right
        >
          mdi-check-circle-outline
        </v-icon>
    </v-btn>

  </v-form>
</template>

<script >

import utilities from "@/mixin/utilities";
import { mapGetters, mapMutations } from "vuex";

export default {
	name: "ExpenseItem",
	data: () => ({
		valid: true,
		nameRules: [
			v => !!v || "Name nicht Vergessen",
			v => (v && v.length <= 100) || "Name muss kürzer als 100 Zeichen sein!"
		],
		preisRules: [
			v => !!v || "Ohne Preis geht's nicht.",
			v => (v != 0) || "Preis kann nicht 0 sein."
		],
		unitsRules: [
			v => !!v || "Ohne Anzahl geht's nicht.",
			v => (v > 0) || "Anzahl muss mindestens 1 sein."
		],
		priceOptions: {
			checkbox: false,
			clearable: true,
			label: "Preis",
			placeholder:" Bereinigter Betrag",
			valueWhenIsEmpty: "0.00",
			options: {
				locale: "de-CH",
				prefix: "CHF",
				suffix: "",
				length: 7,
				precision: 2
			}
		}
	}),
	mixins: [utilities],
	watch: {
		item(article) {
			this.$refs.form.resetValidation();
		},
		basket(basket) {
			if (basket.length === 0) {
				this.$refs.form.resetValidation();
			}
		}
	},
	computed: {
		...mapGetters("basket", {
			item: "getSelectedArticle",
			itemTotal: "getSelectedArticleTotal",
			itemTotalFormatted: "getSelectedArticleTotalFormatted",
			basket: "getBasket"
		}),
		price: {
			get() {
				return Math.abs(this.item.price);
			},
			set(price) {
				this.item.price = price < 0 ? price : -price;
			}
		},
		isInputDisabled() {
			return !(this.item?.key?.length > 0);
		},
		isOkDisabled() {
			return this.isInputDisabled || !this.valid || this.item.price == 0;
		}
	},
	methods: {
		submit() {
			if (this.$refs.form.validate()) {
				this.addToBasket(this.item);
				this.reset();
			}
		},
		reset() {
			this.resetSelectedArticle();
			this.$refs.form.reset();
			this.$refs.form.resetValidation();
		},
		descriptionLabel(item) {
			if (item?.descriptionRule?.label) {
				return item.descriptionRule.label;
			}
			return "Beschreibung";
		},
		descriptionPlaceholder(item) {
			if (item?.descriptionRule?.placeholder) {
				return item.descriptionRule.placeholder;
			}
			return "";
		},
		descriptionRules(item) {
			const msg = item?.descriptionRule?.requiredMsg ?? "";
			let regexRule;
			try {
				regexRule = new RegExp(item?.descriptionRule?.regex);
			} catch(e) {
				console.log(e);
			}

			return [
				v => !regexRule || regexRule.test(v) || msg,
				v => msg.length === 0 || !!v || msg,
  				v => true
			];
		},
		...mapMutations("basket", {
			addToBasket: "addToBasket",
			resetSelectedArticle: "resetSelectedArticle",
			incrementUnits: "incrementArticleUnits",
			decrementUnits: "decrementArticleUnits"
		})
	}
};
</script>

<style scoped>
</style>