<template>
  <v-container fluid>
    <v-row justify="center">
      <h1>{{ msg }}</h1>
    </v-row>
  </v-container>
</template>

<script lang="ts">

export default {
	name: "HelloLabManager",
	props: {
		msg: String
	}
};
</script>

