<template>
<v-form
    v-model="valid"
    @submit="signIn"
    lazy-validation
  >
  <v-container fluid>
    <v-row justify="center">
      <h1>Hoi 😀 Wie ist Dein Name?</h1>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" sm="6" md="3">
      <v-text-field
            v-model="labManager"
            label="Vorname und Nachname"
            :rules="[v => !!v || 'Ich brauche Deinen Namen, damit du etwas machen kannst 😉']"
            filled
            autofocus
            required
            clearable
      ></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" sm="6" md="3">
        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="signIn"
        >
          Name Übernehmen
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</v-form>
</template>

<script >
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
	data: () => ({
		valid: true
	}),
	name: "Login",
	created() {
		this.labManager = this.getLastLabManager || "";
	},
	computed: {
		...mapGetters("auth", {
			getLabManager: "getLabManager",
			getLastLabManager: "getLastLabManager"
		}),
		labManager: {
			get() {
				return this.getLabManager || "";
			},
			set(value) {
				this.setLabManager(value);
			}
		}
	},
	methods: {
		...mapMutations("auth", {
			setLabManager: "setLabManager"
		}),
		...mapActions("auth", {
			login: "login"
		}),
		signIn() {
			this.login();
		}
	}
};
</script>

