<template>
  <v-container fluid>

	<v-form>
		<v-container>
			<v-row dense align="center" justify="center">
				<v-col
					cols="4"
					sm="4"
				>
					<v-text-field
						placeholder="Vor- oder Nachname oder E-Mail"
						label="Filtern"
						type="text"
						hide-details="auto"
						autofocus
						v-model="memberNameFilter"
					></v-text-field>
				</v-col>

			</v-row>
		</v-container>
	</v-form>

	<v-data-table
		dense
		:headers="headers"
		:items="memberPaymentItems"
		item-key="_id"
		:disablePagination="false"
		:hideDefaultFooter="false"
		:items-per-page="15"
		:options="tableOptions"
		:loading="$apollo.queries.memberPayments.loading"
		class="elevation-1"
		:item-class="getRowClass"
	>
		<template v-slot:[`item.date`]="{ item }">
			<span class="hallo">{{ new Date(item.date).toLocaleString() }}</span>
		</template>
		<template v-slot:[`item.member`]="{ item }">
			<span>{{ item.member }}</span>
		</template>
		<template v-slot:[`item.paymentMethod`]="{ item }">
			<span>{{ item.paymentMethod }}</span>
		</template>
		<template v-slot:[`item.price`]="{ item }">
			<span v-if="item.price > 0">{{ priceFormatter(item.price/100) }}</span>
		</template>
	</v-data-table>
  </v-container>
</template>

<script>

import utilities from "@/mixin/utilities";
import memberPayment from "@/graphql/memberPayments.gql";

export default {
	name: "memberPayments",
	components: {
	},
	data: () => ({
		memberNameFilter: "",
		tableOptions: {
			"page": 1,
			"itemsPerPage": 15,
			"sortBy": [],
			"sortDesc": [],
			"groupBy": [],
			"groupDesc": [],
			"multiSort": false,
			"mustSort": false
		},
		headers: [
			{
				text: "Datum",
				align: "start",
				value: "date"
			},
			{ text: "Member", value: "member" },
			{ text: "Zahlungsart", value: "paymentMethod" },
			{ text: "Betrag", value: "price" }
		],
		memberPayments: null,
		loading: false
	}),
	mixins: [utilities],
	watch: {
	},
	computed: {
		memberPaymentItems() {
			return this.memberPayments?.map( item => {
				//item.date = this.$moment(item.date).format("DD.MM.YYYY HH:mm:ss");
				delete item.__typename;
				return item;
			}) ?? [];
		}
	},

	methods: {
		getRowClass(item) {
			const now = new Date();
			const itemDate = new Date(item.date);
			const monthsDifference = (now.getFullYear() - itemDate.getFullYear()) * 12 + now.getMonth() - itemDate.getMonth();
			console.log(itemDate);
			return monthsDifference > 11 ? "expired-date" : "valid-date"; 
		}		
	},

	apollo: {
		memberPayments: {
			query: memberPayment,
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			// Reactive parameters
			variables() {
				// Use vue reactive properties here
				return {
					searchFilterInput: {
						search: this.memberNameFilter
					}
				};
			},
			fetchPolicy: "network-only"
		}
	}
};

</script>

<style scoped>
.expired-date {
  background-color: lightsalmon;
}
.valid-date {
  background-color: lightgreen; 
}

</style>