<template>
<v-container>
    <!-- Trigger Button -->
	<v-btn color="primary" @click="dialog = true" small rounded>
	+<v-icon right>mdi-account</v-icon>
	</v-btn>
    <!-- Dialog for Adding New Member -->
    <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
    >
        <v-card>
            <v-card-title>
                Neues Mitglied hinzufügen
            </v-card-title>
            <v-card-text>
                <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
					<div>
						<div class="mb-2">Jahresbeitrag:</div>
						<v-radio-group
							v-model="member.memberFee"
							row
							:rules="selectRules"
							required
						>
							<v-radio
							v-for="group in processedMemberGroups"
							:key="group.fee"
							:label="group.displayFee"
							:value="group.fee"
							></v-radio>
						</v-radio-group>
					</div>

                    <v-text-field
                        v-model="member.firstname"
                        :rules="nameRules"
                        label="Vorname"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="member.lastname"
                        :rules="nameRules"
                        label="Nachname"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="member.email"
                        :rules="emailRules"
                        label="E-Mail"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="member.address"
                        :rules="nameRules"
                        label="Adresse"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="member.city"
                        :rules="nameRules"
                        label="Stadt"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="member.postcode"
                        :rules="postcodeRules"
                        label="PLZ"
                        required
                    ></v-text-field>                    
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="blue darken-1"
                    text
                    @click="dialog = false"
                >Abbrechen</v-btn>
                <v-btn
                    color="blue darken-1"
                    text
					:loading="isSubmitting"
                    @click="submit"
                >Speichern</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-container>
</template>

<script>

import { getGroupsFromEnv } from "../../server/shared/sharedEnvironment";

export default {
	name: "AddMember",
	data() {
		return {
			dialog: false,
			valid: false,
			isSubmitting: false,
			member: {
				firstname: "",
				lastname: "",
				email: "",
				address: "",
				city: "",
				postcode: "",
				memberFee: null,
				joinDate: new Date().toISOString().substr(0, 10)
			},
			memberGroups: [],
			defaultMemberFee: process.env.memberFee || 156,
			nameRules: [
				v => !!v || "Feld darf nicht leer sein"
			],
			emailRules: [
				v => !!v || "E-Mail ist erforderlich",
				v => /.+@.+\..+/.test(v) || "E-Mail muss gültig sein"
			],
			postcodeRules: [
				v => !!v || "Postleitzahl ist erforderlich"
			],
			selectRules: [
				v => !!v || "Bitte Mitgliederbeitrag auswählen" 
			]
		};
	},
	computed: {
		processedMemberGroups() {
			return this.memberGroups.map(group => ({
				...group,
				fee: group.fee * this.defaultMemberFee,
				displayFee: `CHF ${group.fee * this.defaultMemberFee} pro Jahr ${group.fee == 1 ? "" : " reduziert"}` 
			}));
		}
	},

	methods: {
		submit() {
			if (this.isSubmitting) return;
			if (this.$refs.form.validate()) {
				this.isSubmitting = true;
				this.saveMember();
			}
		},
		reset() {
			this.$refs.form.reset();
		},
		saveMember() {
			this.$apollo
				.mutate({
					mutation: require("@/graphql/addMember.gql"),
					variables: this.member
				})
				.then( response => {
					const memberData = response.data.addMember;
					console.log("memberData", memberData);

					if( memberData.memberNumber === "DEV_MODE") {
						const message = "😜 DEV_MODE: Member nur lokal erstellt 😀";
	    				this.$notifyWarning(message);
					} else {
						const successMessage = "Member erstellt 😀";
	    				this.$notifySuccess(successMessage);
					}
					this.$emit("form-submitted", structuredClone(this.member));
					this.reset();
					this.dialog = false;
					this.isSubmitting = false;
				}).catch((error) => {
					this.showConfirm = false;
					this.$notifyError("Member speichern hat nicht geklappt 🥺");
					console.error("saveMember function called: " + error.message);
				});
		},
		initGroups() {
			const groupsString = process.env.VUE_APP_BEXIO_API_GROUPS;
			this.memberGroups = getGroupsFromEnv(groupsString);
		}
	},
	created() {
		this.initGroups();
	}
};
</script>
