<template>
  <div class="member-selection">
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="12" md="9" lg="10">
          <v-autocomplete
            v-model="selectedMember"
            :items="memberItems"
            :search-input.sync="filter"
            item-text="formattedName"
            item-value="id"
            return-object
		    :loading="$apollo.queries.members.loading"
            clearable
            hide-details
            hide-selected
			:readonly="!!selectedMember"
            placeholder="Mitglied suchen "
            autofocus
            append-icon="mdi-magnify"
            @input="selectMember"
          >
		  <!-- Customizing selected item display -->
			<template v-slot:selection="{ item, index }">
				<v-chip
				v-if="index === 0"
				:color="item.paid ? 'green' : 'orange'"
				dark
				label
				small
				>
				{{ item.formattedName }}
				</v-chip>
			</template>		  
		  <template v-slot:item="{ item }">
			<div :style="{ color: item.paid ? 'green' : 'orange' }">
				{{ item.formattedName }}
			</div>
			</template>
		</v-autocomplete>
				</v-col>
        <v-col v-if="!selectedMember" cols="12" md="3" lg="2">
            <member-form @form-submitted="updateMembers"></member-form>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import utilities from "@/mixin/utilities";
import MemberForm from "@/components/MemberForm.vue";
import members from "@/graphql/members.gql";
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
	name: "MemberSelect",
	components: {
		MemberForm        
	},
	data() {
		return {
			filter: "",
			members: null,
			selectedMember: this.getMember || null
		};
	},
	mixins: [utilities],
	watch: {
		getMember: {
			handler(newMember) {
				this.selectedMember = newMember;
			},
			immediate: true
		}
	},
	computed: {
		...mapGetters("basket", {
			getMember: "getMember"
		}),    
		memberItems() {
			return this.members?.map( item => {
				delete item.__typename;
				return { 
					... item, 
					formattedName:`${item.fullnameAndEmail} (${item.paid === true ? "✓" : "✗"})` 
				};
			}) ?? [];
		}
	},
	methods: {
		...mapMutations("basket", {
			setMember: "setMember"
		}),
		selectMember(member) {
			this.setMember(member);
		},
		updateMembers(member) {
			const newMember = member;
			this.$apollo.queries.members.refetch()
				.then(() => {
					this.$notifySuccess("Members aktualisiert");
					this.filter = `${newMember.firstname} ${newMember.lastname}`;
				})
				.catch(error => {
					this.$notifyError({
						message: JSON.stringify(error.message),
						timeout: 0
					});
				});
		}	
	},
	apollo: {
		members: {
			query: members,
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			variables() {
				return {
					searchFilterInput: {
						search: this.filter
					}
				};
			},
			fetchPolicy: "network-only"
		}
	}
};
</script>

<style scoped>
.selected-item {
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-right: 8px; /* Adjust space to the right if needed */
  /* Additional styling here if needed */
}
.member-selection {
  /* Styles inspired by Basket.vue, adjust according to actual Basket.vue styles */
}
.selected-member {
  /* margin-top: 20px; */
}
</style>
