<template>
  <v-container fluid>

	<v-form>
		<v-container>
			<v-row dense align="center" justify="center">
				<v-col
					cols="4"
					sm="4"
				>
					<v-text-field
						placeholder="Vor- oder Nachname oder E-Mail"
						label="Filtern"
						type="text"
						hide-details="auto"
						autofocus
						v-model="memberNameFilter"
					></v-text-field>
				</v-col>

			</v-row>
		</v-container>
	</v-form>

	<v-data-table
		dense
		:headers="headers"
		:items="combinedItems"
		item-key="_id"
		:disablePagination="false"
		:hideDefaultFooter="false"
		:items-per-page="15"
		:options="tableOptions"
		:loading="$apollo.queries.members.loading"
		:default-sort="{ by: 'memberNumberOrPaymentTypeProperty', desc: true }"
		class="elevation-1"
		:item-class="getRowClass"

	>
		<template v-slot:[`item.paymentDate`]="{ item }">
			<span>{{ new Date(item.paymentDate).toLocaleString() }}</span>
			<br>
			<span class="monthsSincePayment">{{ formatMonthsSincePayment(item) }}</span>
		</template>
		<template v-slot:[`item.statusOrBetragProperty`]="{ item }">
			<span v-if="item.statusOrBetragProperty === true" style="color: green;">✓</span>
			<span v-else-if="item.statusOrBetragProperty === false" style="color: red;">✗</span>
  			<span v-else-if="isPaymentDateExpired(item)" style="color: red;">{{ item.statusOrBetragProperty }} ✗</span>
  			<span v-else style="color: green;">{{ item.statusOrBetragProperty }} ✓</span>
		</template>
		<template v-slot:[`item.memberNumberOrPaymentTypeProperty`]="{ item }">
			<span>{{ item.memberNumberOrPaymentTypeProperty }}</span>
		</template>
		<template v-slot:[`item.memberProperty`]="{ item }">
			<span>{{ item.memberProperty }}</span>
		</template>
	</v-data-table>
  </v-container>
</template>

<script>

import utilities from "@/mixin/utilities";
import members from "@/graphql/members.gql";
import memberPayment from "@/graphql/memberPayments.gql";

export default {
	name: "membersStatus",
	components: {
	},
	data: () => ({
		memberNameFilter: "",
		tableOptions: {
			"page": 1,
			"itemsPerPage": 15,
			"sortBy": [],
			"sortDesc": [],
			"groupBy": [],
			"groupDesc": [],
			"multiSort": false,
			"mustSort": false
		},
		headers: [
			{
				text: "Datum",
				align: "start",
				value: "paymentDate",
				width: "200px"
			},
			{ text: "Status", value: "statusOrBetragProperty", width: "150px" },
			{ text: "Member Nummer", value: "memberNumberOrPaymentTypeProperty", width: "150px" },
			{ text: "Member", value: "memberProperty" }
		],
		members: null,
		memberPayments: null,
		loading: false

	}),
	mixins: [utilities],
	watch: {
	},
	computed: {
		combinedItems() {
			const transformedMemberPayments = this.memberPaymentItems.map(item => ({
				memberProperty: item.member, 
				statusOrBetragProperty: this.priceFormatter(item.price/100),
				memberNumberOrPaymentTypeProperty: item.paymentMethod,
				paymentDate: item.date
			}));

			const transformedMembers = this.memberItems.map(item => ({
				memberProperty: item.fullnameAndEmail, 
				statusOrBetragProperty: item.paid, 
				memberNumberOrPaymentTypeProperty: item.memberNumber,
				paymentDate: item.latestInvoiceUpdatedAt
			}));

			return [...transformedMemberPayments, ...transformedMembers];
		},
		memberItems() {
			return this.members?.map( item => {
				delete item.__typename;
				return item;
			}) ?? [];
		},
		memberPaymentItems() {
			const oneYearAgo = new Date();
			oneYearAgo.setDate(oneYearAgo.getDate() - 370);

			return this.memberPayments?.filter(item => {
				const itemDate = new Date(item.date);
				return itemDate > oneYearAgo;
			}).map( item => {
				delete item.__typename;
				return item;
			}) ?? [];
		}		
	},

	methods: {
		getRowClass(item) {
			
			return this.isPaymentDateExpired(item) ? "expired-date" : "valid-date"; 
		},
		monthsSincePayment(item) {
			const now = new Date();
			const itemDate = new Date(item.paymentDate);
			return (now.getFullYear() - itemDate.getFullYear()) * 12 + now.getMonth() - itemDate.getMonth();
		},
		isPaymentDateExpired(item) {
			return this.monthsSincePayment(item) > 11; 
		},
		formatMonthsSincePayment(item) {
			const months = this.monthsSincePayment(item);
			if (months === 0) {
				return "vor weniger als einem Monat";
			} else if (months === 1) {
				return "vor einem Monat";
			} 
			return `vor ${months} Monaten`;
		}
	},

	apollo: {
		members: {
			query: members,
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			variables() {
				return {
					searchFilterInput: {
						search: this.memberNameFilter
					}
				};
			},
			fetchPolicy: "network-only"
		},
		memberPayments: {
			query: memberPayment,
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 0
				});
			},
			// Reactive parameters
			variables() {
				// Use vue reactive properties here
				return {
					searchFilterInput: {
						search: this.memberNameFilter
					}
				};
			},
			fetchPolicy: "network-only"
		}
	}
};

</script>

<style scoped>
tr.expired-date td:first-child span.monthsSincePayment {
	background-color: rgba(255, 160, 122, 0.5);
	font-size: 0.75em;
}

</style>