<template>
  <v-container fluid>

    <v-data-iterator
      :items="receipts"
      :items-per-page.sync="itemsPerPage"
      :page.sync="page"
      :sort-by="[sortBy, 'date']"
      :sort-desc="sortDesc"
      :loading="$apollo.queries.receipts.loading"
      :footer-props="footerProps"
      disable-filtering
    >
      <template v-slot:header>
        <v-toolbar
          dark
          color="blue darken-3"
          class="mb-1"
        >
          <v-btn
            large
            color="blue"
            @click="toggleExpenseFilter"
          >
            {{expenseFilterTitle}}
          </v-btn>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            clearable
            flat
            solo-inverted
            hide-details
            prepend-inner-icon="mdi-magnify"
            label="Suchen nach Member oder Beschreibung"
          ></v-text-field>
          <template v-if="$vuetify.breakpoint.mdAndUp">
            <v-spacer></v-spacer>
            <v-select
              v-model="sortBy"
              flat
              solo-inverted
              hide-details
              :items="keys"
              prepend-inner-icon="mdi-sort"
              label="Sort by"
            ></v-select>
            <v-spacer></v-spacer>
            <v-btn-toggle
              v-model="sortDesc"
              mandatory
            >
              <v-btn
                large
                depressed
                color="blue"
                :value="false"
              >
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn
                large
                depressed
                color="blue"
                :value="true"
              >
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </template>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row
            v-for="item in props.items"
            :key="item.id"
            class="mt-2 mb-2"
          >
            <v-card width="100%">
              <v-card-title class="font-weight-bold" v-on:click.stop="expandReceipt = (expandReceipt == item.id ? null : item.id)">
                <v-btn width="100%" link small>
                  <v-col :cols="1" dense>
                    <v-btn
                      v-on:click.stop="editReceipt(item)"
                      icon
                      v-show="expandReceipt === item.id || search.length > 0"
                    >
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>                  
                </v-col>
                  <v-col dense>
                    {{ item.date | moment("Do MMM YYYY ddd HH:mm") }} <b>{{ item.date | moment("from", "now") }} </b>
                  </v-col>
                  <v-col>
                    <v-icon v-if="item.total > 0">mdi-arrow-right-bold</v-icon>
                    Betrag: {{priceFormatter(item.total)}} ({{ item.paymentMethod }})
                    <v-icon v-if="item.total < 0">mdi-arrow-right-bold</v-icon>
                  </v-col>
                  <v-col>
                    Positionen: {{item.basket.length}}
                  </v-col>
                  <v-col>
                    {{item.labmanager}}
                  </v-col>
                </v-btn>
              </v-card-title>

              <v-divider></v-divider>
              <v-expand-transition>
                <v-row v-if="expandReceipt === item.id || search.length > 0">
                  <v-col
                    cols="2"
                  >
                  <v-list dense three-line>
                    <v-list-item>
                      <v-list-item-content >
                        <v-list-item-title>LabManager {{ item.labmanager }}</v-list-item-title>
                        <v-list-item-subtitle v-if="item.version>1">(edited v{{item.version}})</v-list-item-subtitle>
                        <v-list-item-subtitle :title="item.remark">{{ item.remark }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>

                  <v-col
                    cols="10"
                  >

                  <v-simple-table width="100%">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center">pos</th>
                          <th class="text-left">name</th>
                          <th class="text-left">description</th>
                          <th class="text-left">price</th>
                          <th class="text-left">unit</th>
                          <th class="text-left">type</th>
                          <th class="text-center">units</th>
                          <th class="text-right">totalPrice</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(article, pos) in item.basket"
                          :key="article.id"
                        >
                          <td class="text-center">{{pos+1}}</td>
                          <td class="text-left">{{article.name}}</td>
                          <td class="text-left">{{article.description}}</td>
                          <td class="text-left">{{priceFormatter(article.price)}}</td>
                          <td class="text-left">{{article.unit}}</td>
                          <td class="text-left">{{article.type}}</td>
                          <td class="text-center">{{article.units}}</td>
                          <td class="text-right">{{priceFormatter(article.totalPrice)}}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>

                </v-row>
              </v-expand-transition>
            </v-card>
        </v-row>
      </template>

      <template v-slot:footer>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>

import utilities from "@/mixin/utilities";
import receipts from "@/graphql/receipts.gql";
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
	name: "ReceiptHistory",

	data: () => ({
		footerProps: { "items-per-page-options": [5, 10, 50, 100] },
		search: "",
		filter: {},
		sortDesc: true,
		expandReceipt: true,
		page: 1,
		itemsPerPage: 5,
		sortBy: "date",
		keys: [
			"date",
			"paymentMethod",
			"labmanager"
		],
		receipts: [],
		expenseFilter: 0,
		expenseFilterTitles: [
			"nur Ausgaben",
			"Einnahmen/Ausgaben",
			"nur Einnahmen"
		]
	}),
	mixins: [utilities],
	computed: {
		numberOfPages() {
			return Math.ceil(this.receipts.length / this.itemsPerPage);
		},
		filteredKeys() {
			return this.keys.filter(key => key !== "date");
		},
		expenseFilterTitle() {
			return this.expenseFilterTitles[this.expenseFilter+1];
		}

	},

	methods: {
		...mapMutations({
			setBookingDate: "setBookingDate",
			setPostBooking: "setPostBooking"
		}),
		...mapMutations("basket", {
			removeFromBasket: "removeFromBasket",
			editSelectedArticle: "editSelectedArticle",
			setCheckoutDialog: "setCheckoutDialog",
			resetReceiptTo: "resetReceiptTo",
			resetSelectedArticle: "resetSelectedArticle"
		}),
		nextPage() {
			if (this.page + 1 <= this.numberOfPages) this.page += 1;
		},
		formerPage() {
			if (this.page - 1 >= 1) this.page -= 1;
		},
		updateItemsPerPage(number) {
			this.itemsPerPage = number;
		},
		updateJournal() {
			this.$apollo.queries.receipts.refetch();
		},
		editReceipt(receipt) {
			this.resetReceiptTo(receipt);
			this.setPostBooking(true);
			this.setBookingDate(receipt.date);

			this.$router.push(receipt.total > 0 ? "/cashdesk" : "/expenses");
		},
		toggleExpenseFilter() {
			this.expenseFilter++;
			if( this.expenseFilter > 1) {
				this.expenseFilter = -1;
			}
		}
	},

	apollo: {
		receipts: {
			query: receipts,
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 10000
				});
			},
			// Reactive parameters
			variables() {
				const searchString = this.search ?? "";
				// Use vue reactive properties here
				let vars = {
					"receiptsInput": {
						"remark": searchString,
						"basket": {
							"name": searchString,
							"description": searchString
						}
					}
				};
				if (this.sortBy && this.sortBy === "labmanager") {
					vars = {
						"receiptsInput": {
							"labmanager": searchString
						}
					};
				}
				if ( this.expenseFilter !== 0 ) {
					vars.receiptsInput.total = this.expenseFilter;
				}
				return vars;
			},
			pollInterval: 10000, // ms
			fetchPolicy: "network-only"
		}
	}
};

</script>
