<template>
<v-footer 
      app 
      elevation="3" 
      :color="footerColor">
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} - FabLab ZH —
		<strong>
			<a href="https://bitbucket.org/fablabzurich/fabcashbook/src/main/CHANGELOG.md" target="_blank">
				{{ clientVersion }}
			</a>
		</strong> {{ appMode }}
		<span v-if="getLabManager && isLoggedIn">
            / LabManager: {{ getLabManager }}
		</span>
		<template v-if="needsUpdate">
			<div>Update verfügbar: {{ status.version }}</div>
	      	<div>Zum aktualisieren bitte Browser Fenster schliessen und App neu starten.</div>
		</template>
      </v-col>

    <v-dialog 
        v-model="needsUpdate"
        persistent
        transition="dialog-bottom-transition"
	>
		<v-alert
			type="warning"
			prominent
			border="left"
			>
		<div class="text-h6">
        	App Aktualisierung notwendig
      	</div>
      	<div>Zum aktualisieren bitte Browser Fenster schliessen und App neu starten.</div>
        <div>Neue  Version: {{status.version}}</div>
        <div>Diese Version: {{clientVersion}}</div>

	    </v-alert>

    </v-dialog>
    </v-footer>	
</template>

<script >
import { mapGetters, mapMutations, mapActions } from "vuex";
import status from "@/graphql/status.gql";

export default {
	name: "Status",
	data: () => ({
		status: {
			version: process.env.PACKAGE_VERSION
		}
	}),
	watch: {
		status: function (newStatus, oldStatus) {
			console.log(`Version ${oldStatus?.version ?? "0"} -> ${newStatus?.version ?? "0"}`);
			if (newStatus?.version !== oldStatus?.version) {
				this.$store.commit("setServerAppVersion", newStatus.version);
			}
		}
	},
	computed: {
		...mapGetters("auth", {
			getLabManager: "getLabManager",
			isLoggedIn: "isLoggedIn"
		}),
		labManager() {
			 return this.getLabManager;
		},
		version() {
			return this.status.version;
		},
		clientVersion() {
			return process.env.PACKAGE_VERSION;
		},
		needsUpdate() {
			return this.version != this.clientVersion && !this.$apollo.queries.status.loading;
		},
		footerColor() {
			return process.env.NODE_ENV === "production" ? "": "orange lighten-4";
		},
		appMode() {
			return process.env.NODE_ENV === "production" ? "": process.env.NODE_ENV;
		}
	},

	apollo: {
		status: {
			query: status,
			// Reactive parameters
			error(error) {
				this.$notifyError({
					message: JSON.stringify(error.message),
					timeout: 2
				});
			},
			variables() {
				// Use vue reactive properties here
				return {
				};
			},
			fetchPolicy: "network-only",
			pollInterval: 60000 // ms
		}
	}};
</script>

