<template>
  <v-app id="app" :class="postBooking ? 'postBooking' : 'liveBooking'">
    <v-app-bar
      app
      color="white"
      flat
    >
      <v-tabs
        centered
        class="ml-n9"
        color="grey darken-1"
      >
        <v-tab
          v-for="link in links"
          :key="link.route"
          :to="link.route"
          :disabled="( link.protected && !loggedIn) || 
			              ( link.route === '/cashdesk' && isExpense ) ||
			              (link.route === '/expenses' && isIncome ) "
        >
        <v-icon v-if="link.icon.length">{{link.icon}}</v-icon>
        <span v-if="link.title.length">{{ link.title }}</span>
        </v-tab>
      </v-tabs>

      <v-row justify="center" v-if="loggedIn">
        <v-menu
          bottom
          min-width="400px"
          rounded
          :close-on-click="true"
          :close-on-content-click="false"
          offset-y
        >
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              x-large
              v-on="on"
            >
              <v-avatar
                color="orange"
                size="48"
              >
                <span class="white--text headline">
                  {{ labManager.initials }}
                </span>
              </v-avatar>
            </v-btn>
          </template>
          <v-card>
            <v-list-item-content class="justify-center">
              <div class="mx-auto text-center">
                <v-avatar
                  color="orange"
                  size="48"
                >
                  <span class="white--text headline">{{ labManager.initials }}</span>
                </v-avatar>
                <p class="text-caption mt-1">
                  ...
                </p>
                <h3>{{ labManager.fullName }}</h3>
                <v-divider class="my-3"></v-divider>
                <BookingDate />
                <v-divider class="my-3"></v-divider>
                <v-btn
                  depressed
                  rounded
                  text
                  @click="signOut"
                >
                  <v-icon>mdi-logout</v-icon> abmelden
                </v-btn>
              </div>
            </v-list-item-content>
          </v-card>
        </v-menu>
      </v-row>
      <v-fab-transition>
        <v-btn
          @click="exitPostBookingMode()"
          v-show="postBooking"
          color="red"
          fab
          dark
          x-large
          absolute
          bottom
          left
          :title="`Du bist im ${isEditReceipt ? 'editier' : 'nachbuchen'} Modus 🤑. click zum verlassen!`"
        >
          <v-icon v-if="isEditReceipt">mdi-pencil</v-icon>
          <v-icon v-else>mdi-history</v-icon>
        </v-btn>
      </v-fab-transition>
      <v-fade-transition >
        <v-btn
          v-show="showLogoutCountdown"
          color="orange"
          dark
          rounded
          x-large
          absolute
          bottom
          left
          title="Auto Logout"
        >Auto Logout in {{logoutCountdown}} Sekunden</v-btn>
      </v-fade-transition>
    </v-app-bar>
    <v-main class="grey lighten-3">
      <notifications position="top"></notifications>
      <router-view></router-view>
    </v-main>
    <Status />
  </v-app>
</template>

<script>

import BookingDate from "@/components/BookingDate.vue";

import { mapGetters, mapMutations, mapActions } from "vuex";
import Status from "./components/Status.vue";

export default {
	data: () => ({
		links: [
			{ title: "", icon: "mdi-home", route: "/", protected: false },
			{ title: "", icon: "mdi-shopping", route: "/cashdesk", protected: true },
			{ title: "", icon: "mdi-cash-refund", route: "/expenses", protected: true },
			// { title: "", icon: "mdi-account-multiple", route: "/members", protected: true },
			{ title: "", icon: "mdi-face", route: "/membersStatus", protected: true },
			{ title: "", icon: "mdi-calendar-text", route: "/admin", protected: true }
		],
		showLogoutReminder: false,
		idleEvents: [
			"click",
			"mousemove",
			"mousedown",
			"keypress",
			"scroll"
		],
		idleSinceDate: new Date(),
		idleSince: 0,
		idleTimeOut: 60 * 60, // Seconds
		autoLogoutReminerTime: 60, // Seconds
		wasAutoSignOut: false
	}),
	computed: {
		...mapGetters({
			appVersion: "appVersion",
			getIdleSince: "getIdleSince",
			postBooking: "getPostBooking",
			getWindowSize: "getWindowSize"

		}),
		...mapGetters("auth", {
			loggedIn: "isLoggedIn",
			getLabManager: "getLabManager",
			getLabManagerInitials: "getLabManagerInitials",
			getLabManagerFirstName: "getLabManagerFirstName"
		}),
		...mapGetters("basket", {
			isEditReceipt: "isEditReceipt",
			isExpense: "isExpense",
			isIncome: "isIncome"
		}),    
		labManager() {
			return {
				fullName: this.$store.getters["auth/getLabManager"],
				initials: this.$store.getters["auth/getLabManagerInitials"],
				firstname: this.$store.getters["auth/getLabManagerFirstName"]
			};
		},
		logoutCountdown() {
			return this.idleTimeOut - this.idleSince;
		},
		showLogoutCountdown() {
			return this.logoutCountdown < this.autoLogoutReminerTime
          && (this.loggedIn || this.wasAutoSignOut);
		},
		getIdleSinceInSeconds() {
			var _ = this.idleSince; // make getter reactive
			var now = this.$moment(new Date());
			var lastActive = this.$moment(this.getIdleSince);
			var duration = this.$moment.duration(now.diff(lastActive));
			var seconds = duration.asSeconds();
			return seconds;
		}
	},
	methods: {
		...mapMutations({
			setCurrentTime: "setCurrentTime",
			setIdleSince: "setIdleSince",
			setWindowSize: "setWindowSize",
			setPostBooking: "setPostBooking"
		}),
		...mapActions("auth", {
			logout: "logout"
		}),
		...mapMutations("basket", {
			clearCashBookEntry: "clearCashBookEntry"
		}),
		signOut() {
			this.logout();
			if (this.$route.path != "/") {
				this.$router.push("/");
			}
		},
		onResize() {
			this.setWindowSize({
				width: window.innerWidth,
				height: window.innerHeight

			});
		},
		resetIdle() {
			this.idleSince = 0;
			this.$store.commit("setIdleSince", new Date());
		},
		incrementIdle() {
			if (this.getIdleSinceInSeconds >= this.idleTimeOut) {
				this.autoSignOut();
				return;
			}

			this.wasAutoSignOut = false;
			this.idleSince++;
		},
		autoSignOut() {
			console.log("autoSignout");
			this.wasAutoSignOut = true;
			this.signOut();
		},
		exitPostBookingMode() {
			this.setPostBooking(false);
			this.clearCashBookEntry();
		}
	},
	components: {
		BookingDate,
		Status
	},
	mounted() {
		this.interval = setInterval(() => {
			this.setCurrentTime(new Date());
			this.incrementIdle();
		}, 1000);

		this.idleEvents.forEach((event) => {
			window.addEventListener(event, this.resetIdle, { passive: true });
		});

		this.$nextTick(() => {
			window.addEventListener("resize", this.onResize, { passive: true });
			this.onResize();
		});
	},

	beforeDestroy() {
		clearInterval(this.interval);
		if (typeof window === "undefined") return;
		window.removeEventListener("resize", this.onResize);
		this.idleEvents.forEach((event) => {
			window.removeEventListener(event, this.resetIdle);
		});
	}


};
</script>

<style>
  .v-avatar {
    cursor: pointer;
    text-transform: uppercase;
  }
  .postBooking h1 {
    color: red;
  }

  @media only screen and (min-width: 960px) {
      /* styles for browsers larger than 960px; */
  }
  @media only screen and (min-width: 1440px) {
      /* styles for browsers larger than 1440px; */
  }
  @media only screen and (min-width: 2000px) {
      /* for sumo sized (mac) screens */
  }
  @media only screen and (max-device-width: 480px) {
      /* styles for mobile browsers smaller than 480px; (iPhone) */
  }
  @media only screen and (device-width: 768px) {
      /* default iPad screens */
  }

  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    /* iPhone 6 portrait */
    html { background-color: rgb(255, 127, 255); }
    .money .v-card__subtitle {
      padding: 1em 0.2em;
    }
  }

  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    /* iPhone 6 landscape */
    html { background-color: rgb(127, 240, 255); }
    .money .v-card__subtitle {
      padding: 1em 0.2em;
    }
  }

  /* different techniques for iPad screening */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    html {
      background-color: antiquewhite;
    }
    .money .v-card__subtitle {
      padding: 1em 0.2em;
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    html {
      background-color: cadetblue;
    }
    .money .v-card__subtitle {
      padding: 1em 0.2em;
    }
  }

@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}
/* /left bounce */

.v-icon.mdi.bounce.left {
 animation: bounceLeft 2s 1;
}


</style>
